/*메인배너 시작*/
.aboutme-bn-box {
    position: relative;
    height: 890px;
    user-select: none;
}

.aboutme-bn-box>.main-bn>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutme-bn-box>.main-img>div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* 가위바위보 시작*/
.aboutme-bn-box>.icons img {
    width: 300px;
    position: absolute;
    transition: all ease .3s;
}

.aboutme-bn-box>.icons>.ic-rock>img {
    right: 620px;
    top: 5%;    
}

.aboutme-bn-box>.icons>.ic-rock:hover>img {
    transform: rotate(15deg) scale(1.1);
    cursor: pointer;
}

.aboutme-bn-box>.icons>.ic-Scissors>img {
    top: 30%;
    left: 550px;
}
.aboutme-bn-box>.icons>.ic-Scissors:hover>img {
    transform: rotate(15deg) scale(1.1);
    cursor: pointer;
}

.aboutme-bn-box>.icons>.ic-Paper>img {
    bottom: 0px;
    right: 530px;
    padding: 20px;
}
.aboutme-bn-box>.icons>.ic-Paper:hover>img {
    transform: rotate(-15deg) scale(1.1);
    cursor: pointer;
}
/* 가위바위보 시작*/

/*메인배너 끝*/

/*취미시작*/
.gallery>.card-boxcard>.card> {
    width: 25%;
    padding: 0 20px;
    box-sizing: border-box;
}
.hobby>.link {
    margin-top: 60px;
}
.hobby>.link>a {
    font-size:64px;
    font-weight:bold;
    color:#0A4176;
    font-family: "PT Serif Caption", "Noto Sans KR", sans-serif;
    margin-bottom: 20px;
}
.hobby>.text {
    letter-spacing: 2px;
    word-spacing: 5px;
}
.hobby >.line-1{
    background-color: #5C8FC4;
    height:5px;
    margin:30px 100px 10px 100px;
    opacity:.7;
}

.hobby >.line-2{
    background-color: #5C8FC4;
    height:2px;
    margin:0 100px;
    opacity:.6;
}
.hobby>.gallery {
    margin-top:60px;
}
.hobby>.gallery>div>div {
    width:25%;
    padding:20px;
    box-sizing: border-box;
}
.gallery>div>div>img {
    display: block;
}
/*취미끝*/