.aboutme-bn-box {
    position: relative;
    height: 890px;
    user-select: none;
}
.aboutme-bn-box>.main-bn>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.aboutme-bn-box>.main-img>div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.aboutme-bn-box .icons {
    position: absolute;
    display: block;
}
.aboutme-bn-box .icons >div>img {
    width: 300px;
}
.aboutme-bn-box .icons > .ic-rock>img {
    margin-top: 50px;
    margin-left: 1000px;
    border: 1px solid black;
}

.aboutme-bn-box .icons > .ic-Scissors>img {
    margin-left: 580px;
    border: 1px solid black;
}

.aboutme-bn-box .icons > .ic-Paper>img {
    margin-left: 700px;
    bottom: 0px;
    border: 1px solid black;
}