.aboutme-bn-box {
    position: relative;
    height: 890px;
    user-select: none;
}

.aboutme-bn-box>.main-bn>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutme-bn-box>.main-img>div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutme-bn-box>.icons img {
    width: 300px;
    position: absolute;
    transition: all ease .3s;
}

.aboutme-bn-box>.icons>.ic-rock>img {
    right: 620px;
    top: 5%;    
}

.aboutme-bn-box>.icons>.ic-rock:hover>img {
    transform: rotate(15deg) scale(1.1);
    cursor: pointer;
}

.aboutme-bn-box>.icons>.ic-Scissors>img {
    top: 30%;
    left: 550px;
}
.aboutme-bn-box>.icons>.ic-Scissors:hover>img {
    transform: rotate(15deg) scale(1.1);
    cursor: pointer;
}

.aboutme-bn-box>.icons>.ic-Paper>img {
    bottom: 0px;
    right: 530px;
    padding: 20px;
}
.aboutme-bn-box>.icons>.ic-Paper:hover>img {
    transform: rotate(-15deg) scale(1.1);
    cursor: pointer;
}

.jb:hover {
    transform: rotate(45deg);
}