/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=PT+Serif+Caption&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=PT+Serif+Caption&family=Philosopher:ital@0;1&display=swap');

html {
    font-family: "Philosopher", "PT Serif Caption", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 공통 CSS */
@media (max-width:799px) {
    .visible-md-up {
        display: none;
    }
}

@media (min-width:800px) {
    .visible-sm-down {
        display: none;
    }
}

.btn-toggle-mobile-side-bar {
    width: 30px;
    height: 30px;
    position: relative;
}

.btn-toggle-mobile-side-bar>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: white;
    transition: top .15s .15s, transform .3s, opacity .15s .15s;
}

.btn-toggle-mobile-side-bar>div:nth-child(2) {
    top: 40%;
}

.btn-toggle-mobile-side-bar>div:nth-child(3) {
    top: 80%;
}

.btn-toggle-mobile-side-bar.active>div {
    top: 40%;
    transition: top .15s, transform .15s .15s, opacity .15s 0s;
}

.btn-toggle-mobile-side-bar.active>div:nth-child(1) {
    transform: rotate(45deg);
}

.btn-toggle-mobile-side-bar.active>div:nth-child(3) {
    transform: rotate(-45deg);
}

.btn-toggle-mobile-side-bar.active>div:nth-child(2) {
    opacity: 0;
}

.bgc {
    background-color: #01386D;
}

/* 커스텀 */
.con {
    max-width: 1400px;
}

.con.con-2 {
    max-width: 1056px;
}

/* 탑바 시작 */
.top-bar {
    height: 100px;
    background-color: #01386D;
    color: white;
}

/* 탑바 - 로고 */
.top-bar .logo>.logo-svg path {
    fill: white;
}

.top-bar .logo>.logo-svg {
    width: 60px;
    padding: 30px;
}

.top-bar .logo>.logo-svg:hover path {
    fill: black;
}


/* 탑바 - 메뉴박스1 */
.top-bar .menu-box-1 ul>li {
    position: relative;
}

.top-bar .menu-box-1>ul>li:hover>a {
    text-decoration: underline;
}

.top-bar .menu-box-1 ul>li>a {
    font-size: 25px;
    font-family:
}

.top-bar .menu-box-1>ul>li:hover>a {
    background-color: white;
    color: black;
}

.top-bar .menu-box-1>ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid #01386D;
    border-top: 0;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 12;
}

.top-bar .menu-box-1 ul>li:hover>ul {
    display: block;
}

.top-bar .menu-box-1>ul ul>li>a {
    display: block;
    ;
    text-align: center;
    padding: 30px 0;
}

.top-bar .menu-box-1>ul ul>li:hover>a {
    background-color: #01386D;
    color: white;
}

/* 탑바 끝 */

/* 탑바 아이콘 시작 */
.top-bar-icon div>img {
    width: 20px;
}

.top-bar-icon>div:first-child {
    margin-right: 50px;
}

/* 탑바 아이콘끝 */

/* 모바일 탑바 시작 */
.mobile-top-bar {
    position: fixed;
    height: 50px;
    background-color: #01386D;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.mobile-top-bar .btn-toggle-mobile-side-bar {
    margin: 10px;
}

.mobile-top-bar>.logo {
    width: 40px;
}

.mobile-top-bar>.logo>.logo-svg {
    fill: white;
}

/* 모바일 탑바 끝 */

/* 모바일 사이드바 시작 */
/*.mobile-side-bar {
    position: fixed;
    top: 50px;
    left: -300px;
    width: 300px;
    bottom: 0;
    background-color: white;
    transition: left .3s;
    z-index: 10;
}
*/
.mobile-side-bar {
    position: fixed;
    top: 50px;
    left: -300px;
    width: 300px;
    bottom: 0;
    background-color: white;
    transition: left .3s;
    z-index: 10;
}

.mobile-side-bar.active {
    left: 0;
}

.mobile-side-bar .menu-box-2 ul>li>a {
    display: block;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}


/* SNS 서브 메뉴 시작*/
.mobile-side-bar .menu-box-2>ul ul {
    display: none;
    background-color: white;
    padding-left: 20px;
}

.mobile-side-bar .menu-box-2 ul>li.active>ul {
    display: block;
}

.mobile-side-bar .menu-box-2 ul>li>a:not(:only-child)::after {
    content: "[+]";
    float: right;
}

.mobile-side-bar .menu-box-2 ul>li.active>a:not(:only-child)::after {
    content: "[-]";
}

.mobile-side-bar .menu-box-2 ul>li.active>a:not(:only-child) {
    background-color: #01386D;
    color: white;
}


@media (max-width:799px) {

    html.mobile-side-bar-actived,
    html.mobile-side-bar-actived>body {
        overflow-y: hidden;
    }
}

/* SNS 서브 메뉴 시작*/

/* 모바일 사이드바 끝 *

/*모바일 사이드바 배경색 시작*/
.mobile-side-bar-bg {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    transition: background-color .1s, visibility .1s;
    z-index: 10;
}

.mobile-side-bar-bg.active {
    background-color: rgba(0, 0, 0, 0.7);
    visibility: visible;
}

/*모바일 사이드바 배경색 끝*/

/* 슬라이더 시작 */
.slider {
    position: relative;
    height: 880px;
    user-select: none;
}

.slider>.slides>div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 1s;
    background-color: #5c8fc4;
}

.slider>.slides>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 1s;
}

.slider>.slides>div.active {
    opacity: 1;
}

.slider>.side-bars>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
}

.slider>.side-bars>div:last-child {
    left: auto;
    right: 0;
}

.slider>.side-bars>div>span {
    position: absolute;
    top: 50%;
    left: inherit;
    right: inherit;
    transform: translateY(-50%);
    margin: 0 20px;
}

.slider>.side-bars>div>span {
    transition: transform .3s;
}

.slider>.side-bars>div:active>span {
    transform: translateY(-40%);
}

.slider>.side-bars>div>span>i {
    font-size: 2rem;
    color: white;
}

/* 슬라이더 끝 */

/*아바타 시작*/
.avater-box>.avater {
    background-color: #01386D;
}

.avater-box>.avater>img {
    border-radius: 100px;
    margin-left: 300px;
}

/*아바타 끝*/

/*주간 작업 배너 시작*/
.latest-work {
    background-color: #01386D;
}

.latest-work .text {
    text-align: center;
    font-size: 2rem;
}

/*주간 작업 배너 끝*/

/*글 게시물 꾸미기 시작*/
.id {
    margin-right: 5px;
    margin-bottom: 10px;
}

.id-regDate {
    margin-top: 20px;
}

.postbt-icon-1 {
    margin-bottom: 10px;
}

.line-bar-1>.line {
    height: 2px;
    width: 100%;
    background-color: rgba(92, 143, 196, 0.6);
    margin-bottom: 20px;
}

.line-bar-2>.line {
    height: 2px;
    width: 100%;
    background-color: rgba(92, 143, 196, 0.6);
    margin-bottom: 50px;
}

.postbt-icon-2>div {
    padding: 8px 20px 8px 20px;
    border: 2px solid rgba(92, 143, 196, 0.6);
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.postbt-icon-2 div {
    margin-left: 10px;
}

.postbt-icon-2 .heart>a {
    color: rgba(0, 0, 0, 0.6);
}

.latest-work .text{
    color: white;
    font-family: "PT Serif Caption", "Noto Sans KR", sans-serif;
    font-size: 64px;
    line-height: 3;
    /*line-height 을 주면 line에 있는 높이가 커짐*/
}

.latest-work .kakao-work {
    margin-top: 120px;
}
/*글 게시물 꾸미기 끝*/