html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */
.con {
    max-width: 1180px;
}

/*상단바*/
.top-bar {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.top-bar>.logo {
    display: block;
    width: 174px;
    height: 24px;
    background: url(https://github.com/rimrumrom/img1/blob/3fe4846f6355597ab5097ee7d13f64787914c44f/portfolios/linefriends/img_logo.png?raw=true);
}

.top-bar>.menu-box-1>ul>li:first-child {
    margin-left: 80px;
}

.top-bar>.menu-box-1>ul>li {
    margin-right: 63px;
    font-family: Roboto;
}

.top-bar>.menu-box-1>ul>li>a {
    color: white;
    white-space: nowrap;
    font-size: 12px;
    position: relative;
}

.top-bar>.menu-box-1>ul>li>a::before {
    content: '';
    border-bottom: solid 1px white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.top-bar>.menu-box-1>ul>li>a:before {
    transition: all 0.2s ease;
}

.top-bar>.menu-box-1>ul>li>a:hover:before {
    opacity: 1.0;
}


/*언어 메뉴바*/

.select-lang-box {
    padding-right: 60px;
}

.select-lang-box>.select-lang>a {
    color: white;
    white-space: nowrap;
    font-size: 12px;
}


.select-lang-box>.select-lang>.select-lang-btn {
    display: block;
    width: 15px;
    height: 9px;
    margin-left: 5px;
    background-image: url(https://github.com/rimrumrom/img1/blob/master/portfolios/linefriends/ico_unfd.png?raw=true);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 12px;
    color: #fff;
}

.select-lang-box>.select-lang.active>.select-lang-btn {
    transform: scaleY(-1);
}

/*scale : 크기 늘리기  + 일 경우 자신의 바깥쪽으로 늘어나는식으로 커지고 - 일 경우 자신의 안쪽으로 커지다보니 반대모양으로 띄워보이는 현상*/

.select-lang-box>.menu-box-1 {
    visibility: hidden;
}

.select-lang-box>.select-lang.active+.menu-box-1 {
    visibility: visible;
}

.select-lang-box>.menu-box-1 {
    position: absolute;
    font-size: 12px;
    top: 30px;
    right: 60px;
    width: 120px;
    height: 150px;
    background-color: white;
}

.select-lang-box>.menu-box-1>ul {
    float: left;
}

.select-lang-box>.menu-box-1>ul>li:first-child {
    margin-top: 20px;
}

.select-lang-box>.menu-box-1>ul>li {
    margin-bottom: 8px;
    margin-left: 30px;
}

.select-lang-box>.menu-box-1>ul>li:hover {
    text-decoration: underline;
    cursor: pointer;
}



/* 슬라이더 공통 */
.slider {
    position: relative;
}

.slider>.pages {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
}

.slider>.pages>div {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 50%;
    margin-right: 8px;
}

.slider>.pages>div:hover,
.slider>.pages>div.active {
    background-color: rgba(255, 255, 255, 1);
}

.slider>.slides::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://www.linefriends.com/img/bg_dim.png);
}

.slider>.slides>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider>.slides>div.active {
    opacity: 1;
}

/*
.slider > .side-btns > div {
    position:absolute;
    top:50%;
    left:0;
    width:100px;
    height:100px;
    background-color:;
    cursor:pointer;
    transform:translateY(-50%);
    margin:0 30px;
}
*/
.slider>.side-btns>div:last-child {
    left: auto;
    right: 0;
}

/* 슬라이더 1 */
.slider-1 {
    margin: 0 auto;
    height: 100vh;
}

.slider>.side-btns>div {
    position: absolute;
    top: 50%;
    width: 31px;
    height: 60px;
    margin-top: -30px;
    background: url(https://github.com/rimrumrom/img1/blob/master/portfolios/linefriends/spr.png?raw=true) no-repeat;
    z-index: 10;
    cursor: pointer;
}

.slider>.side-btns>.prev {
    background-position: 0 -230px;
    margin-left: 60px;
}

.slider>.side-btns>.next {
    background-position: 0 -160px;
    margin-right: 60px;
}

/*슬라이더 배너 글자*/

.slider>.text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translateX(-50%) translateY(-50%);
}

.slider>.text>p {
    font-size: 20px;
    font-family: volteRegular;
    color: #fff;
    text-align: center;
}

/* 어바웃미 시작*/
.about {
    position: relative;
    padding: 110px 0 160px;
    text-align: center;
}

.about h2 {
    font-family: volteSemiBold;
    font-size: 80px;
    color: #404040;
    margin-bottom: 24px;
}

.about p {
    font-family: NanumBarunGothic;
    font-size: 13px;
    color: #333;
    line-height: 24px;
    width: 700px;
    margin: 0 auto;
}

.about>.img-box {
    width: 820px;
    height: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.about>.img-box>a {
    display: block;
}

.about>.img-box>a>img {
    display: block;
    width: 100%;
}


/*팝업*/

body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    height: 10000px;
}

.youtube-popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s;
}

/* visibility -> 애니메이션 */

.youtube-popup-actived .youtube-popup-bg {
    opacity: 1;
    visibility: visible;
}

html.youtube-popup-actived,
html.youtube-popup-actived>body {
    overflow: hidden;
}

.youtube-popup-bg .btn-close {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: 450px;
    transform: translateX(-50%);
    cursor: pointer;
    background-image: url("https://github.com/rimrumrom/img1/blob/master/portfolios/linefriends/layer_close2.png?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
}

/* top,right으로 띄우면 사이트를 축소했을때 비디오 팝업이랑 붙는게 아니라 배경의 가장자리 (모니터 화면 기준인 top, right를 띄웠으므로)에 붙게된다 그러므로 비디오 기준으로 margin-top, margin-left으로 조절 */

.youtube-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-width: 700px;
    transition: visibility 0.4s, opacity 0.4s;
    visibility: hidden;
    opacity: 0;
}

/*  width:100%; -> 반응형 유연하게!!  max-width:700px; -> 하지만 700px때부터는 줄어들지 않게 */


.youtube-popup-actived .youtube-popup {
    transition: visibility 0.4s .4s, opacity 0.4s .4s;
    visibility: visible;
    opacity: 1;
}

/*  transition: visibility 0.4s .4s, opacity 0.4s .4s; -> 동영상이 순간적으로 바로 바뀌는게 싫다! 딜레이 약간 주기 (뒤에 붙는 .4s)*/
.youtube-popup::after {
    content: "";
    display: block;
    padding-top: 56.25%;
}

/* padding-top -> youtube-popup 너비의 % 비율 , 56.25% -> 16:9 */
.youtube-popup>iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 위에 처럼하면 부모 youtube-popup 화면안으로 꽉 참! 하지만 youtube-popup에 높이를 안주면 보이질 않는다! 그러한 해결로 .youtube-popup::after를 지정하는것 */

/* 이미지 슬라이더 시작 */

.slider-x {
    height: 100vh;
    position: relative;
}

.slider-x>.slides>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
}

.slider-x>.slides>div.active {
    opacity: 1;
    visibility: visible;
}

.slider-x>.side-btns>div {
    position: absolute;
    top: 50%;
    width: 31px;
    height: 60px;
    margin-top: -30px;
    background: url(https://github.com/rimrumrom/img1/blob/master/portfolios/linefriends/spr.png?raw=true) no-repeat;
    cursor: pointer;
}

.slider-x>.side-btns>.prev {
    background-position: 0 -230px;
    margin-left: 60px;
}

.slider-x>.side-btns>.next {
    background-position: 0 -160px;
    margin-right: 60px;
}

.slider-x>.side-btns>div:last-child {
    left: auto;
    right: 0;
}

.slider-x>.page-box {
    position: absolute;
    left: 50%;
    bottom: 40px;
    width: 318px;
    height: 42px;
    margin-left: -155px;
}

.slider-x>.page-box>.pages>div {
    width: 60px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.slider-x>.page-box>.pages>div.visible {
    display: block;
}

.slider-x>.page-box>.pages>div.active {
    border: 2px solid green;
}

.slider-x>.page-box>.pages>div::after {
    content: "";
    display: block;
    padding-top: 60%;
}

/*슬라이더2 안에 이미지 슬라이더 사이드 버튼*/
.slider-x>.page-box>button {
    position: absolute;
    left: 50%;
    bottom: 12px;
    width: 9px;
    height: 15px;
    background: url(https://github.com/rimrumrom/img1/blob/master/portfolios/linefriends/spr.png?raw=true) no-repeat;
    background-color: transparent;
}

.slider-x>.page-box>button {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

.slider-x>.page-box>.prev {
    margin-left: -171px;
    background-position: 0 -300px;
}

.slider-x>.page-box>.next {
    margin-left: 172px;
    background-position: 0 -320px;
}

/* business 시작 */
.content>.business {
    position: relative;
    background: #faf8f5;
}

.content>.business>h2 {
    padding: 110px 0 20px;
    font-size: 80px;
    font-family: volteSemiBold;
    color: #404040;
    text-align: center;
}

.content>.business>.sec_list {
    overflow: hidden;
    width: 1080px;
    margin: 0 auto;
}

.content>.business>.sec_list>.first {
    margin-left: 0;
}

.content>.business>.sec_list>li {
    float: left;
    width: 280px;
    margin: 36px 0 0 120px;
    color: #333;
}

.content>.business>.sec_list>li>div>span {
    display: block;
    margin: 16px 0 24px;
    font-size: 18px;
    text-align: center;
}

.content>.business>.sec_list>li>div>div {
    overflow: hidden;
    height: 120px;
    font-size: 13px;
    line-height: 24px;
    font-family: NanumBarunGothic;
}

.content>.business>.btn_area {
    overflow: hidden;
    padding: 76px 0 120px;
    text-align: center;
}

.content>.business>.btn_area>li {
    margin-right: 18px;
    background: #5c5e66;
    display: inline-block;
    width: 280px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.content>.business>.btn_area>li>a {
    display: block;
}

.content>.business>.btn_area>li>a>span {
    color: #fff;
}

/* media 시작 */
.content>.media {
    overflow: hidden;
    position: relative;
    background: #f7f7f7;
    padding: 97px 0 100px;
}

.content>.media>h2 {
    margin-bottom: 38px;
    font-size: 84px;
    font-family: volteSemiBold;
    color: #404040;
    text-align: center;
}

.content>.media>.media_contents>ul>li {
    margin-bottom: 19px;
}

.content>.media>.media_contents>ul>li>a {
    display: block;
    width: 1020px;
    margin: 0 auto;
    overflow: hidden;
}

.content>.media>.media_contents>ul>li>a>.media_list {
    background: #fff;
    height: 330px;
}

.content>.media>.media_contents>ul>li>a>.media_list>div>img {
    float: left;
    display: block;
    width: 640px;
    height: 330px;
}

.content>.media>.media_contents>ul>li>a>.media_list>.info_area {
    float: left;
    position: relative;
    display: block;
    width: 300px;
    height: 248px;
    margin: 46px 40px 36px 40px;
}

.content>.media>.media_contents>ul>li>a>.media_list>.info_area>div:first-child {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 24px;
    margin-bottom: 12px;
}

.content>.media>.media_contents>ul>li>a>.media_list>.info_area>div:nth-child(2) {
    font-size: 14px;
    font-weight: 50px;
    color: #666;
    line-height: 22px;
    font-family: NanumBarunGothic;
}

.content>.media>.media_contents>ul>li>a>.media_list>.info_area>div:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-family: robotoLight;
    color: #999;
    letter-spacing: 1px;
}