html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */
.con {
    max-width: 1280px;
}

.top-bar {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.top-bar>.logo {
    display: block;
    width: 174px;
    height: 24px;
    background: url(https://github.com/rimrumrom/img1/blob/3fe4846f6355597ab5097ee7d13f64787914c44f/portfolios/linefriends/img_logo.png?raw=true);
}

.top-bar>.menu-box-1>ul>li:first-child {
    margin-left: 80px;
}

.top-bar>.menu-box-1>ul>li {
    margin-right: 68px;
    font-family: Roboto;
}

.top-bar>.menu-box-1>ul>li>a {
    color: white;
    white-space: nowrap;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
}

.top-bar>.menu-box-1>ul>li>a::before {
    content: '';
    border-bottom: solid 1px white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.top-bar>.menu-box-1>ul>li>a:before {
    transition: all 0.2s ease;
}

.top-bar>.menu-box-1>ul>li>a:hover:before {
    opacity: 1.0;
}

.box {
    padding-right: 60px;
}

.box>a {
    color: white;
    white-space: nowrap;
    font-size: 12px;
    font-family: Roboto;
}





/*
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color:black;
}

.container>.bn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(https://raw.githubusercontent.com/rimrumrom/img1/master/portfolios/linefriends/bn1.jpg) repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.container>.bn-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg_dim.png) repeat;
    z-index: 10;
}
*/



/* 슬라이더 공통 */
.slider {
    position: relative;
}

.slider>.pages {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
}

.slider>.pages>div {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 50%;
}

.slider>.pages>div:hover,
.slider>.pages>div.active {
    background-color: rgba(255, 255, 255, 1);
}

.slider>.slides::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://www.linefriends.com/img/bg_dim.png);
}

.slider>.slides>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.slider>.slides>div.active {
    opacity: 1;
}

/*
.slider > .side-btns > div {
    position:absolute;
    top:50%;
    left:0;
    width:100px;
    height:100px;
    background-color:;
    cursor:pointer;
    transform:translateY(-50%);
    margin:0 30px;
}
*/
.slider>.side-btns>div:last-child {
    left: auto;
    right: 0;
}

/* 슬라이더 1 */
.slider-1 {
    margin: 0 auto;
    height: 100vh;
}

.slider>.side-btns>div {
    position: absolute;
    top: 50%;
    width: 31px;
    height: 60px;
    margin-top: -30px;
    background: url(https://github.com/rimrumrom/img1/blob/master/portfolios/linefriends/spr.png?raw=true) no-repeat;
    z-index: 10;
    cursor: pointer;
}

.slider>.side-btns>.prev {
    background-position: 0 -230px;
}

.slider>.side-btns>.next {
    background-position: 0 -160px;
}