/* 폰트 */
/* notosans폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* roboto폰트 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* signika폰트 */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

/* 라이브러리 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}

.img-box>img,
.img-box>svg {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.margin-0-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0>* {
  line-height: normal;
}

.width-30px {
  width: 30px;
}

.width-35px {
  width: 35px;
}

.width-40px {
  width: 35px;
}

.width-45px {
  width: 35px;
}

.width-50px {
  width: 50px;
}

.width-80px {
  width: 80px;
}

.width-100px {
  width: 100px;
}

.width-100p {
  width: 100%;
}

.width-60p {
  width: 60%;
}

.width-55p {
  width: 55%;
}

.width-50p {
  width: 50%;
}

.width-45p {
  width: 45%;
}

.width-40p {
  width: 40%;
}

.width-30p {
  width: 30%;
}

.width-35p {
  width: 35%;
}

.width-100p-except-30px {
  width: calc(100% - 30px);
}

.width-100p-except-35px {
  width: calc(100% - 35px);
}

.width-100p-except-40px {
  width: calc(100% - 40px);
}

.width-100p-except-50px {
  width: calc(100% - 50px);
}

.width-100p-except-80px {
  width: calc(100% - 80px);
}

.width-100p-except-100px {
  width: calc(100% - 100px);
}

.height-100p {
  height: 100%;
}

.height-50p {
  height: 50%;
}

.border-box {
  box-sizing: border-box;
}

.font-size-dot-8rem {
  font-size: 0.8rem;
}

.table-row {
  display: table;
}

.table-row.row::after {
  display: inline;
  clear: non;
}

.table-row>.cell {
  float: none;
  display: table-cell;
}

.border-red {
  border: 10px solid red;
}

.border-green {
  border: 10px solid green;
}

.border-blue {
  border: 10px solid blue;
}

.border-gold {
  border: 10px solid gold;
}

.border-pink {
  border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
  display: flex;
}

*>.flex-grow-1 {
  flex-grow: 1;
}

*>.flex-jc-c {
  justify-content: center;
}

*>.flex-jc-s {
  justify-content: flex-start;
}

*>.flex-jc-e {
  justify-content: flex-end;
}

*>.flex-jc-sb {
  justify-content: space-between;
}

*>.flex-ai-c {
  align-items: center;
}

*>.flex-ai-s {
  align-items: flex-start;
}

*>.flex-ai-e {
  align-items: flex-end;
}

*>.flex-as-s {
  align-self: stretch;
}

*>.flex-as-c {
  align-self: center;
}

*>.flex-as-s {
  align-self: flex-start;
}

*>.flex-as-e {
  align-self: flex-end;
}

*>.flex-column-nowrap {
  flex-flow: column nowrap;
}

*>.flex-column-wrap {
  flex-flow: column wrap;
}

*>.flex-row-wrap {
  flex-flow: row wrap;
}

.flex-ch-basis-0>* {
  flex-basis: 0;
}

*>.flex-1-0-0 {
  flex: 1 0 0;
}


/* 커스텀 */
body {
  position: relative;
}

/* 고정형 .con 시작 */
.con-min-width {
  min-width: 1200px;
}

.con {
  width: 1200px;
}

.con.con-2 {
  width: 1400px;
}

/* 최소, 최대 고정 너비를 줘서 고정형이지만 약간의 배경(날개)는 좀 더 커지게 (각 종의 모니터 크기를 고려해서) */
.page-con {
  max-width: 2560px;
  min-width: 1903px;
  margin-left: auto;
  margin-right: auto;
}


/* 상단 팝업창 */
.top-banner {
  display: block;
  background-color: #9c0a1f;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 140px;
  transition: height 0.1s;
  border-bottom: 3px solid black;
  box-sizing: border-box;
}

.top-banner.close {
  display: none;
}

.top-banner .b-inner {
  height: 100%;
  align-items: flex-end;
}

.top-banner .b-inner>.month {
  font-size: 10px;
}

.top-banner .b-inner>div:not(:first-child) {
  margin-left: 80px;
}

.top-banner .b-inner .b-area {
  margin-bottom: 15px;
}

.top-banner .b-inner .b-area>div:first-child {
  background-color: black;
  width: 135px;
  height: 42px;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.top-banner .b-inner .b-area>div:nth-child(2) {
  font-size: 15px;
}

.top-banner .b-close {
  position: absolute;
  top: 50%;
  right: 50px;
  border: none;
  padding: 0;
  background: none;
  outline: none;
}

/* 상단바 */

.top-bar {
  position: absolute;
  width: 100%;
  height: 79px;
  transition: background-color 0.4s, height 0.4s;
  overflow: hidden;
  /*서브메뉴박스가 짤림(나오지않음)*/
  z-index: 100;
}

/*탑바 아래 밑줄*/
.top-bar::before {
  content: "";
  display: block;
  position: absolute;
  top: 78px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.3;
}

.top-bar>.con {
  position: relative;
  height: 79px;
}

.top-bar-menu-box-1-actived .top-bar {
  height: 300px;
}

.top-bar:hover {
  background-color: white;
}

.top-bar .logo {
  width: 70px;
}

/* 탑바에 올리면 색상 변환 */
.top-bar:hover .logo>svg .st2 {
  transition: fill 0.4s;
}

.top-bar:hover .logo>svg .st2 {
  fill: black;
}

.top-bar .btn-go-franchise {
  width: 130px;
}

.top-bar .btn-go-franchise>svg .cls-2 {
  transition: fill 0.4s;
}

.top-bar:hover .btn-go-franchise>svg .cls-2 {
  fill: #9c0a1f;
}

.top-bar .btn-go-franchise>svg .cls-3 {
  transition: fill 0.4s;
}

.top-bar:hover .btn-go-franchise>svg .cls-3 {
  fill: #fff;
}

.top-bar .menu-box-1 ul>li>a {
  color: white;
  transition: color 0.4s;
}

.top-bar:hover .menu-box-1 ul>li>a {
  color: black;
}

.top-bar .menu-box-1>ul>li>a {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 30px;
}

/* 각 서브메뉴별 이미지 노출*/
.top-bar .menu-box-1>ul>li>.img-box {
  position: absolute;
  top: 100px;
  left: 0;
  /*중앙에서부터 배치하기*/
  display: none;
  font-size: 22px;
  font-weight: bold;
}

.top-bar .menu-box-1>ul>li>.img-box>span {
  font-weight: normal;
  font-size: 12px;
}

.top-bar .menu-box-1>ul>li:hover>.img-box {
  display: block;
}

.top-bar .menu-box-1>ul>li>div>ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 300px;
}

.top-bar .menu-box-1>ul>li>div>ul>li:first-child {
  padding-top: 30px;
}

.top-bar .menu-box-1>ul>li:hover>div>ul {
  background-color: #f1ebe7;
}

.top-bar .menu-box-1>ul>li>div>ul>li>a {
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

/* 비디오 슬라이더 */

.my-slider-1 {
  height: 840px;
  color: white;
}

.my-slider-1>.swiper-container .swiper-slide>video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.my-slider-1>.swiper-container .nav-box {
  position: absolute;
  z-index: 1000;
  bottom: 100px;
  left: calc(50% - 600px);
  font-size: 2rem;
}

.my-slider-1>.swiper-container .nav-box>.btn {
  cursor: pointer;
}

.my-slider-1>.swiper-container .nav-box>*:not(:last-child) {
  margin-right: 10px;
}

.my-slider-1.autoplay-now-work>.swiper-container .nav-box>.btn-start {
  display: none;
}

.my-slider-1:not(.autoplay-now-work)>.swiper-container .nav-box>.btn-stop {
  display: none;
}

.foot-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #f1ebe7;
  z-index: 100;
}

/* 매장 */
.page-1 {
  position: relative;
  height: 670px;
}

.page-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9c0a1f;
}

.page-1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.page-1>.con>div {
  width: 472px;
  z-index: 100;
  margin-top: 80px;
}

.page-1>.con>div:first-child>.head>h2 {
  font-weight: 800;
  font-size: 26px;
  line-height: 42px;
  color: #fff;
  padding: 0 0 0 60px;
  background-image: url(https://rimrumrom.github.io/img1/creation/open.png);
  background-repeat: no-repeat;
}

.page-1>.con>div:first-child>.head>h1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -8px;
  color: #fff;
}

.page-1>.con>div:first-child>.head>h1>span {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -2px;
}

.page-1>.con>div>.head>h2 {
  font-weight: 800;
  font-size: 26px;
  line-height: 42px;
  padding: 0 0 0 60px;
  background-image: url(https://rimrumrom.github.io/img1/creation/store.png);
  background-repeat: no-repeat;
}

.page-1>.con>div>.head>h1 {
  margin: 48px 0;
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -8px;
}

.page-1>.con>div>.head>h1>span {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -2px;
}

.page-1>.con>div>div>div>a {
  display: block;
  height: 65px;
  width: 350px;
  padding: 0 0 0 24px;
  border-radius: 5px;
  background: #171717 url(https://rimrumrom.github.io/img1/creation/arr_btn.png) no-repeat right 23px center;
  font-weight: 400;
  font-size: 20px;
  line-height: 65px;
  color: #ffffff;
  text-decoration: none;
}

.page-1>.con>div>div>div>.search {
  display: block;
  width: 350px;
  height: 65px;
  padding: 0 0 0 24px;
  border: 5px solid #ac162c;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  color: #ac162c;
}

.page-1>.con>div>div>div {
  position: relative;
}

.page-1>.con>div>div>div>.btn_search {
  position: absolute;
  top: 19px;
  right: 100px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* 메뉴 */

.page-2 {
  height: 670px;
  background-color: #e9e1e0;
  overflow: hidden;
}

.page-2 .con {
  position: relative;
  height: 100%;
}

.page-2>.con>div.txt-box {
  width: 472px;
  z-index: 100;
  margin-top: 80px;
}

.page-2>.con>div:first-child>.head>h2 {
  font-weight: 800;
  font-size: 26px;
  line-height: 42px;
  color: #000;
  padding: 0 0 0 100px;
  background-image: url(https://rimrumrom.github.io/img1/creation/b-menu-cook.png);
  background-repeat: no-repeat;
}

.page-2>.con>div:first-child>.head>h1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 100px;
  letter-spacing: -8px;
  color: #9c0a1f;
}

.page-2>.con>div:first-child>.head>h1>span {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -2px;
}

.page-2>.con>div>.head>h2 {
  font-weight: 800;
  font-size: 26px;
  line-height: 42px;
  padding: 0 0 0 60px;
  background-image: url(https://rimrumrom.github.io/img1/creation/store.png);
  background-repeat: no-repeat;
  margin-top: 30px;
}

.page-2>.con>div>.head>h1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -8px;
}

.page-2>.con>div>.head>h1>span {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -2px;
}

.page-2>.con>div>div>div>a {
  display: block;
  height: 65px;
  width: 350px;
  padding: 0 0 0 24px;
  border-radius: 5px;
  background: #9c0a1f url(https://rimrumrom.github.io/img1/creation/arr_btn.png) no-repeat right 23px center;
  font-weight: 400;
  font-size: 20px;
  line-height: 65px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 50px;
}

.page-2>.con>div.img-box {
  position: absolute;
  bottom: -30%;
  right: 0;
  width: 55%;
  opacity: 0;
  transition: bottom 1.5s, opacity 1.5s;
}

.page-2 .con .img-box img {
  display: block;
  width: 100%;
}

.page-2.active .con .img-box {
  bottom: 0;
  opacity: 1;
}

/* .page-2 .con .txt-box > {
  margin-top: 200px;
  transition: margin 1s;
}
.page-2.active .con .txt-box {
  margin-top: 0px;
} */

/* 모바일 */
.page-3 {
  height: 670px;
  overflow: hidden;
  position: relative;
}

/* 눈금 투명도 조절 : page-3 에 직접 주면 안에있는 컨텐츠 (div)들도 투명해지므로 after을 만들어서 조절 */
.page-3::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(https://rimrumrom.github.io/img1/creation/pattern2.png);
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -10;
}

.page-3 .con {
  position: relative;
  height: 100%;
  justify-content: flex-end;
}

.page-3>.con>div.img-box {
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 40%;
  opacity: 0;
  transition: bottom 1.5s, opacity 1.5s;
}

.page-3 .con .img-box img {
  display: block;
  width: 100%;
}

.page-3.active .con .img-box {
  bottom: 0;
  opacity: 1;
}

.page-3 .con .txt-box {
  margin-top: 50px;
}

.page-3>.con>div>.head {
  margin-top: 100px;
}

.page-3>.con>div>.head>h2 {
  font-weight: 800;
  font-size: 26px;
  line-height: 42px;
  text-align: right;
}

.page-3>.con>div>.head>h2>span:first-child {
  display: inline-block;
  width: 20px;
}

.page-3>.con>div>.head>h2>span>img {
  display: inline-block;
  width: 100%;
}

.page-3>.con>div>.head>h2>span+span {
  margin-left: 20px;
}

.page-3>.con>div>.head>h1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: 10px;
  text-align: right;
  color: #000;
  margin-top: 50px;
}

.page-3>.con>div>.head>h1>span {
  font-weight: 400;
  font-size: 72px;
  letter-spacing: 10px;
  color: #000;
}

.page-3>.con>div>.head>h1>span:nth-of-type(1) {
  color: #9c0a1f;
}

.page-3>.con>.circle-img1 {
  position: absolute;
  bottom: 0;
  left: -300px;
  z-index: -1;
}

.page-3>.con>.circle-img2 {
  position: absolute;
  top: 0;
  right: -200px;
  z-index: -1;
}
/* 페이지 4 */
.page-4 {
  position:relative;
  overflow:hidden;
  height:1010px;
  background-color:#afafaf;
  padding-top: 100px;
  padding-bottom: 110px;
}
.page-4 > .content-box > .title {
  font-family: 'Signika', sans-serif;
  /* 폰트 볼드 */
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
}
.page-4 > .content-box > .sub-title {
  margin-top: 100px;
  font-size: 72px;
  line-height: 72px;
}
.page-4 > .content-box > .sub-title > span{
  color: #9C0A1F;
}
/* 이미지 슬라이더 */

.slider-1 {
  position:absolute;
  width: 100%;
  bottom: 100px;
  left:50%;
  transform:translateX(-50%);
}

.slider-1 .item {
  padding:25px 25px 50px 25px;
  background-color: #fff;
}

.slider-1 .item:hover {
  background-color:#9c0a1f;
}

.slider-1 .item > .txt-box {
  height:100px;
}

.slider-1 > .owl-carousel.owl-theme.owl-loaded > .owl-nav > * {
  border-radius:0;
  font-weight:bold;
  font-size:2rem;
  position:absolute;
  top:-30%;
  transform:translateX(-50%) translateY(-50%);
  background: none;
  color: none;
}
.slider-1 > .owl-carousel.owl-theme.owl-loaded > .owl-nav > div > i{
  font-size: 4rem;
  color: #000000;
}
.slider-1 > .owl-carousel.owl-theme.owl-loaded > .owl-nav > div:hover > i{
  color: #9c0a1f;
}

.slider-1 > .owl-carousel.owl-theme.owl-loaded > .owl-nav > :first-child {
  left:calc(50% + 500px);
}

.slider-1 > .owl-carousel.owl-theme.owl-loaded > .owl-nav > :last-child {
  left:calc(50% + 600px);
}



/* 채용 */
.page-5 {
  height: 670px;
  overflow: hidden;
}

.page-5 .con {
  position: relative;
  height: 100%;
}

.page-5>.con>.circle-img1 {
  position: absolute;
  bottom: 100px;
  left: -300px;
}

.page-5>.con>.circle-img2 {
  position: absolute;
  top: 0;
  right: -200px;
}

.page-5>.con>div.img-box {
  margin-top: 120px;
  width: 30%;
}

.page-5 .con .img-box img {
  display: block;
  width: 100%;
}

.page-5>.con>div>.head>h2 {
  font-weight: 800;
  font-size: 26px;
  line-height: 42px;
  padding: 0 0 0 60px;
  background-image: url(https://rimrumrom.github.io/img1/creation/people-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 100px;
}

.page-5>.con>div>.head>h1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: 5px;
  text-align: left;
  color: #000;
  margin-top: 50px;
}

.page-5>.con>div>.head>h1>span {
  font-weight: 600;
  font-size: 72px;
  letter-spacing: 5px;
  color: #000;
}


/* 하단바 */
.footer-bar {
  height: 200px;
  background-color: #282828;
}

.footer-bar>.con {
  padding-top: 30px;
}

.footer-bar>.con>.txt-box>.head {
  font-size: 22px;
  font-weight: bold;
  color: #CCCCCC;
}

.footer-bar>.con>.txt-box>.body {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #CCCCCC;
}

.footer-bar>.con>.txt-box-2>.head>div {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}

.footer-bar>.con>.txt-box-2>.head>div {
  margin-right: 40px;
}
.footer-bar>.con>.txt-box-2>.body>div {
  margin-right: 20px;
}

/* 따라다니는 풋바 */
.foot-bar>.con {
  height: 100%;
}

.foot-bar>.con>div {
  margin-right: 80px;
}

.foot-bar>.con>div:first-child {
  width: 200px;
  color: #9c0a1f;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.foot-bar>.con>div>input {
  height: 30px;
  width: 120px;
  background: #ffffff;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  color: #222222;
}

.foot-bar>.con>.btn>input {
  background: #464646;
  color: #ffffff;
  width: 145px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  border-radius: 6px;
}

.foot-bar>.con>.info-2>.dash {
  width: 10px;
  height: 2px;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #999;
}